#!/usr/bin/make -f

export DH_COMPAT=4

SHELL=/bin/bash

PKG=chiark-cryptdisk

subdirs_build=	
subdirs_nobuild=chiark-cryptdisk
package=	chiark-utils
packages_indep=	chiark-cryptdisk
packages_arch=	
packages=	$(packages_indep) $(packages_arch)

# XXX KILL THESE:
cwd=	$(shell pwd)
d=	$(cwd)/debian
t=	$d/tmp

build:
	dh_testdir
	set -e; for s in $(subdirs_build); do $(MAKE) -C $$s all; done
	touch build

clean:
	dh_testdir
	dh_testroot
	rm -f build
	$(MAKE) -C $(PKG) distclean
	dh_clean

pfx=$(CURDIR)/debian/$(PKG)

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) -C $(PKG) install \
	  	prefix=$(pfx) \
	  	libdir=$(pfx)/usr/lib/chiark-cryptdisk \
		sbindir=$(pfx)/usr/sbin

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
#	dh_installexamples
#	dh_installcron
	dh_installman
	dh_link
	dh_compress
	dh_fixperms -X etc/chiark-cryptdisk/keys
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

.PHONY: binary binary-arch binary-indep clean
