#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms -X etc/chiark-cryptdisk/keys

override_dh_installdocs:
	dh_installdocs chiark-cryptdisk/README chiark-cryptdisk/TODO

