#!/usr/bin/make -f

export DH_COMPAT=4

SHELL=/bin/bash

subdirs_build=	
subdirs_nobuild=chiark-cryptdisk
package=	chiark-utils
packages_indep=	chiark-cryptdisk
packages_arch=	
packages=	$(packages_indep) $(packages_arch)

cwd=	$(shell pwd)
d=	$(cwd)/debian
t=	$d/tmp

build:
	dh_testdir
	set -e; for s in $(subdirs_build); do $(MAKE) -C $$s all; done
	touch build

clean:
	dh_testdir
	rm -f build
	set -e; for s in $(subdirs_build); do \
		$(MAKE) -C $$s -i distclean || \
		$(MAKE) -C $$s -f Makefile.in distclean; \
	done
	dh_clean
	rm -rf *~ debian/tmp debian/*~ debian/files* debian/substvars*

binary-prep:
	dh_testdir
	rm -rf debian/tmp*
	#
	set -e; for s in $(subdirs_build) $(subdirs_nobuild); do \
		$(MAKE) -C $$s install install-docs install-examples \
			prefix=$t/$$s/usr \
			etcdir=$t/$$s/etc/chiark-cryptdisk \
			varlib=$t/$$s/var/lib \
			mandir=$t/$$s/usr/share/man; \
	done
	#
	set -e; for p in $(packages); do \
		install -d $t/$$p/DEBIAN $t/$$p/usr/share/doc/$$p; \
		cp debian/copyright debian/changelog \
			$t/$$p/usr/share/doc/$$p/; \
		ln -s changelog.gz \
			$t/$$p/usr/share/doc/$$p/changelog.Debian.gz; \
		gzip -9v $t/$$p/usr/share/doc/$$p/changelog; \
		done
	#
	gzip -9f $t/*/usr/share/man/man*/*

binary-one:
	set -e; for f in preinst postinst prerm postrm conffiles; do \
		test -f debian/$p/$$f || continue; \
		cp debian/$p/$$f $t/$p/DEBIAN/$$f; \
		chmod u=rwX,go=rX $t/$p/DEBIAN/$$f; \
	done
	dh_fixperms
	dh_installdeb
	#dh_gencontrol -p$p
	dpkg-gencontrol -isp -p$p -P$t/$p -Tdebian/sv-$p
	dh_md5sums
	#dh_builddeb
	dpkg --build $t/$p ..

binary-indep:	build binary-prep
	dh_testdir
	dh_testroot
	#dh_clean -k
	set -e; for p in $(packages_indep); do \
		debian/rules binary-one p=$$p; done

binary-arch:	build binary-prep

binary:		binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

.PHONY: binary binary-arch binary-indep clean
